*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Nav CSS Start */
.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #D5D2D2;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container p{
    font-size: 18px;
    color: cyan;
}
.logo-container img{
    width: 200px;
}
.items{
    display: flex;
}
.item{
    padding: 10px;
    margin-right: 10px;
    font-size: 19px;
    cursor: pointer;
}
/* Nav CSS End */